<div class="footer">
  <div class="pages footer__section">
    <ul class="pages__list">
      <h3 class="footer__title">pages</h3>
      <li class="footer__item">
        <a class="footer_link" href="#">home</a>
      </li>
      <li class="footer__item">
        <a class="footer_link" href="#">categories</a>
      </li>
      <li class="footer__item">
        <a class="footer_link" href="#">create</a>
      </li>
      <li class="footer__item">
        <a class="footer_link" href="#">contact</a>
      </li>
      <li class="footer__item">
        <a class="footer_link" href="#">contact</a>
      </l>
    </ul>
  </div>
  <div class="cta footer__section">
    <h3 class="footer__title">subscribe</h3>
    <p>
      subscribe to our mailing list to get latest news and updates about
      movies, shows and more
    </p>
    <form
      method="post"
      action="/layout"
      class="footer__form"
      >
      <input
      class="cta__input"
      type="email"
      name="email"
      placeholder="Enter your email"
      required />
    <button class="btn cta__btn" type="submit">subscribe</button>
  </form>
</d>
<div class="socials footer__section">
  <div class="socials__links">
    <h3 class="footer__title">social links</h3>
    <!--  <div class="icons">
                                          <FontAwesomeIcon icon={faTwitter} />
                                          <FontAwesomeIcon icon={faFacebook} />
                                          <FontAwesomeIcon icon={faGithub} />
                                          </div>-->
  </div>
  <div class="socials__copy-right">
    <h3 class="footer__title">copyright</h3>
    <p class="highlight">
      copyrights &c; Blogger.hyde. All rights reserved.
    </p>
  </div>
</div>
</div>