<div class="landing">
  <div class="landing__header">
    <div class="logo">
      Blogger
    </div>
    <div class="nav">
      <a class="nav_link" href="/">home</a>
      <a class="nav_link" href="/blogs">blogs</a>
      <a class="nav_link" href="/categories">categories</a>
      <a class="nav_link" href="/create">create</a>
      <a class="nav_link" href="/contact">contact</a>
    </div>
  </div>
  <div class="landing__main">
    <h1 class="landing__title">Blogger(change this to appropriate titles)</h1>
    <p class="landing__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at erat
      tincidunt ante ultricies mollis at bibendum ligula. Donec quis velit
      finibus, tempus lacus nec, eleifend orci. Nam sit amet nisl sem. Donec
      id commodo erat. Mauris porttitor orci ac lectus aliquam rutrum. Aliquam
      erat volutpat. Phasellus vitae fermentum nisi.
    </p>
  </div>
</div>