<div class="nav">
  <a class="nav_link" href="">home</a>
  <a class="nav_link" href="">blogs</a>
  <a class="nav_link" href="">authors</a>
  <a class="nav_link" href="">create</a>
  <a class="nav_link" href="">about</a>
  <a class="nav_link" href="">contact</a>
</div>