<!DOCTYPE html>
<html>
<%- include("../Partials/header.ejs")%>
<div id="container">
  <%- include("../Partials/landing.ejs")%>
  <div class="categories">
    <%
    genres.forEach(genre => {
      %>
      <a class="categories__link" href="#">
        <h3 class="categories__card">
          <%= genre%>
        </h3>
      </a>
      <%
    }) %>
  </div>
  <%- include("../Partials/footer.ejs")%>
</div>
</html>