<!DOCTYPE html>
<html>
<%- include("../Partials/header.ejs")%>
<div class="header">
  <div class="logo">
    <h1>Blogger</h1>
  </div>
  <%- include("../Partials/nav.ejs")%>
</div>
<div class="categories">
  <a class="categories__link">
    <h3 class="categories__card">
      category name
    </h3>
  </a>
</div>
<%- include("../Partials/footer.ejs")%>
</html>