<!DOCTYPE html>
<html>
<%- include("../Partials/header.ejs")%>
<div class="header">
  <div class="logo">
    <h1>Blogger</h1>
  </div>
  <%- include("../Partials/nav.ejs")%>
</div>
<h3>contact us</h3>
<%- include("../Partials/footer.ejs")%>
</html>