<!DOCTYPE html>
<html>
<%- include("../Partials/header.ejs")%>
<div id="container">
  <%- include("../Partials/landing.ejs")%>
  <form action="/blogs" method="POST">
    <label>
      <span>
        title
      </span>
      <input type="text" name="title" required="" />
  </label>
  <label>
    <span>
      category
    </span>
    <input type="text" name="category" required="" />
</label>
<label>
  <span>
    author
  </span>
  <input type="text" name="author" required="" />
</label>
<label>
<span>
snippet
</span>
<input type="text" name="snippet" required="" />
</label>
<label>
<span>
blog
</span>
<textarea type="text" name="body" required></textarea>
</label>
<button class="create-btn">submit blog</button>
</form>
<%- include("../Partials/footer.ejs")%>
</div>
</html>