<!DOCTYPE html>
<html>
<%- include("../Partials/header.ejs")%>
<body>
  <div id="container">
    <%- include("../Partials/landing.ejs")%>
    <h1><%= message%></h1>
    <%- include("../Partials/footer.ejs")%>
  </div>
</body>
</html>