<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
</head>
<body>
  <div id="container">
    <div class="body">
      <div class="login">
        <form action="/login" method="POST" class="login-form">
          <label>
            <span>Username: </span>
            <input type="text" name="username" required />
          <div class="username error"></div>
        </label>
        <label>
          <span>Email: </span>
          <input type="email" name="email" required />
        <div class="email error"></div>
      </label>
      <label>
        <span>Password: </span>
        <input type="password" name="password" required />
      <div class="password error"></div>
    </label>
    <div class="message error"></div>

    <button type="submit">Log In</button>
  </form>
</div>
</div>
</div>

<script defer>
document.addEventListener("DOMContentLoaded", () => {
const form = document.querySelector(".login-form");
const usernameError = document.querySelector(".username.error");
const emailError = document.querySelector(".email.error");
const passwordError = document.querySelector(".password.error");
const messageError = document.querySelector(".message.error");

form.addEventListener("submit", async (e) => {
e.preventDefault();

const username = form.username.value;
const email = form.email.value;
const password = form.password.value;

usernameError.textContent = "";
emailError.textContent = "";
passwordError.textContent = "";
messageError.textContent = "";

try {
// Modify the body of the fetch request to send form-urlencoded data
const formData = new URLSearchParams();
formData.append('username', username);
formData.append('email', email);
formData.append('password', password);

const res = await fetch("/login", {
method: "POST",
body: formData,
headers: {
"Content-Type": "application/x-www-form-urlencoded",
}
});

const data = await res.json();
if (data.errors) {
console.log(data.errors)
usernameError.textContent = data.errors.username
emailError.textContent = data.errors.email;
passwordError.textContent = data.errors.password;
messageError.textContent = data.errors.message;
}
if (data.user) {
location.assign("/dashboard")
}
} catch (error) {
console.log("Network error : ", error);
}
});
});
</script>
</body>
</html>