<!DOCTYPE html>
<html>
<body>
  <div id="container">
    <div class="body">
      <div class="login">
        <form action="/signup" method="POST">
          <label>
            <span>username: </span>
            <input type="text" name="username" required />
        </label>
        <label>
          <span>email: </span>
          <input type="email" name="email" required />
      </label>
      <label>
        <span>password: </span>
        <input type="password" name="password" required />
    </label>
    <button>sign in</button>
  </form>
</div>
</div>
</div>
</body>
</html>